.modal {
    .fixed-aspect-ratio-container {
        padding-top: 100%!important;
        background-size: cover;
        background-position: center;
    }
    h3 {
        font-size: 1.2rem;
        overflow-wrap: break-word;
        font-weight: 800;
    }
    p {
        overflow-wrap: break-word;
    }
    .price {
        display: block;
        text-align: right;
        font-weight: 700;
        font-size: 1.2rem;
    }
}