//header
.navbar {
    background-color: white;
    transition: all .2s;
    padding-top: 1.67rem;
    padding-bottom: 1.67rem;
    @include media('>'+$grid-breakpoint-md) {
        padding-left: 4.3rem !important;
        padding-right: 4.3rem !important;
    }
    .container-fluid {
        position: relative;
    }
    .order-bar {
        .input-group-prepend label {
            padding-right: 2.4rem;
            font-size: 0.75rem;
            cursor: pointer;
        }
        button {
            margin-left: -1.5rem;
        }
    }
    &.scrolled {
        padding-top: .5rem;
        padding-bottom: .5rem;
        @include media('>tablet') {
            background-color: rgba(255, 255, 255, 0.95);
        }
        .logo {
            height: 30px;
        }
    }
    .only-mobile-icons {}
    .logo {
        display: inline-block !important;
        height: 38px;
        transition: height .2s;
        @include media('<'+$grid-breakpoint-sm) {
            height: 30px;
        }
    }
    .navbar-brand {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 0;
        @include media('<'+$grid-breakpoint-md) {
            right: 0;
            transform: none;
            position: relative;
        }
    }
    .input-group-append label {
        font-size: 0.75rem;
    }
    .col-auto.order-1 {
        padding-left: 0;
        .navbar-toggler {
            padding-left: 0;
        }
    }
}

ul.popover-consult {
    li {
        line-height: 2rem;
        font-size: 1rem;
    }
    svg {
        vertical-align: middle;
    }
    .social-icons {
        img {
            height: 1.8rem;
        }
    }
}